### 应用名
spring:
  application:
    name: user-api-provider

### 服务提供方端口
server:
  port: 7070

### Eureka 注册中心服务器端口
eureka:
  server:
    port: 9090
  client:
    serviceUrl:
      defaultZone: http://localhost:9090/eureka,http://localhost:9091/eureka
  instance:
    instanceId: ${spring.cloud.client.ipAddress}:${server.port}
### Management 安全失效
management:
  security:
    enabled: false
